
*{
    box-sizing: border-box;
    margin:none;
}
.entirecontainer{
    background-image: linear-gradient(to right,rgb(234, 234, 165),rgb(244, 205, 244));
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
    
}
.con1{
    display: flex;
    flex-direction: row;
}
.con2{
    background-color: rgb(235, 114, 112);
    max-height: 65%;
    max-width:28vw;
    margin-top: 100px;
    padding-left: 30px;
    padding-bottom: 10px;
}
@media(max-width:768px) and (max-width:1024px){
    .entirecontainer{
        display: flex;
        flex-direction: column;
        min-height: 180vh;
        justify-content: center;
        align-items: center;
    }
    .con2{
        max-width:50vw;
        
    }
    .image1,.image2{
        height:20vh;
        width:20vw;
    }
    .image3{
        height:38vh;
        width:20vw;
    }
    
}
.incon1{
    display: flex;
    flex-direction: column;
}
.image1{
    width:20vw;
    height:35vh;
    padding-bottom:20px;
    padding-right: 10px;
}
.image2{
    width:20vw;
    height:35vh;
    padding-right:10px;
}
.image3{
    height:70vh;
    width:25vw;
    padding-right:10px;
}
.head{
    font-size: 50px;
    font-family: monospace;
    letter-spacing: 5px;
}
.para{
    font-family: monospace;
    font-size: 20px;
}
.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.arrow{
    height:3vh;
    width:3vh;
    margin-left: 5px;
}